<header>
	<%= image_tag "logo.svg", id:"logo" %>

	<div id="login-div">
      <% if current_user %>
        <!-- <%= link_to "Edit Profile", edit_user_path(current_user.id) %> -->
        <%= link_to "Salir", :logout, method: :post %>
      <% else %>
        <%= link_to "Registrarte", new_user_path, class:"btn" %>
        <%= link_to "Entrar", :login, class:"btn" %>
      <% end %>
    </div>

</header>