<header>
	<%= link_to root_path do %>
    <%= image_tag "logo.svg", id:"logo" %>
  <% end %>
	<div id="login-div">
      <% if current_user %>
        <!-- <%= link_to "Edit Profile", edit_user_path(current_user.id) %> -->
        <%= link_to :logout, method: :post, class:"btn-small" do%>Salir<%= content_tag(:span, "", class:"icon-logout") %>
        <%end%>
      <% else %>
        <%= link_to "Registrarte", new_user_path, class:"btn-small" %>
        <%= link_to :login, class:"btn btn-small" do%>Entrar<%= content_tag(:span, "", class:"icon-login") %>
        <%end%>
      <% end %>
    </div>

</header>