<div id="testimonials-wrapper">
	
	<h4>Testimonials</h4>
	<% @testimonials.each do |testimonial| %>
	<h5>Username</h5>
	<p><%= testimonial.testimonial %></p>
	<%= link_to 'Show', testimonial %>
	<%= link_to 'Edit', edit_testimonial_path(testimonial) %>
	<%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?'} %>

	<% end %>

	   <!--  <% @testimonials.each do |testimonial| %>
	      <tr>
	        <td><%= testimonial.testimonial %></td>
	        <td><%= link_to 'Show', testimonial %></td>
	        <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
	        <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table> -->
	<br>
	<%= link_to 'Write your own testimonial', new_testimonial_path %>
</div>