<div id="testimonials-wrapper">

	<h4>Opiniones</h4>

    <% @testimonials.each do |testimonial| %>
      <h5><%= testimonial.user.name %></h5>
      <p><%= testimonial.content %></p>
      <!--<%= link_to 'Mostrar', testimonial %>-->
      
      <% if testimonial.user == current_user %>
        <%= link_to 'Editar', edit_testimonial_path(testimonial) %>
        <%= link_to 'Borrar', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

    <% end %>

	<br>

</div>